{% extends "center_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block inner %}
  <h2>{{ object.username }}</h2>
  {% if object.name %}
    <p>{{ object.name }}</p>
  {% endif %}

  {% if request.user.is_staff %}
    <p>
      You are a staff member.
    </p>
  {% endif %}

  {% if request.user.is_superuser %}
    <p>
      You are a superuser.
    </p>
  {% endif %}



  {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">

      <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% translate "My Info" %}</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">{% translate "E-Mail" %}</a>
        <!-- Your Stuff: Custom user template urls -->
      </div>

    </div>
  <!-- End Action buttons -->
  {% endif %}

{% endblock inner %}
