{% extends "pages/base.html" %}

{% block nav %}{% with selected='about' %}{{ block.super }}{% endwith %}{% endblock %}

{% block inner %}
    <h1>About</h1>

    <h2>SARS-CoV-2 Sequencing</h2>


    <h2>Data Science Research Group</h2>
    <p>
        The <strong>Data Science Lab</strong>  is part of the Institute for Artificial Intelligence in Medicine (IKIM) at University Hospital Essen, Medical Faculty University of Duisburg-Essen. We are focused on efficient, reproducible and sustainable Data Science and Microbiome Analysis.
    </p>
        Our group aims for honor the principles of Data FAIRness as well as reproducible science via the use of workflow technology.
    </p>
{% endblock %}
