{% extends "center_base.html" %}

{% block inner %}

    <h1>Legal</h1>

    <p>
        Herausgeber der Website und verantwortlich im Sinne des Presserechts sowie des Telemediengesetzes ist das
    </p>

    <p>
        Universitätsklinikum Essen<br>
        Hufelandstraße 55<br>
        45147 Essen<br>
        <br>
        Tel.: +49 (0) 201 – 723 – 0<br>
        Fax: +49 (0) 201 – 723 – 4694<br>
    </p>



    <p>
        Vertreten durch den Vorstand:
    </p>

    <p>
        Vorstand:<br>
        Prof. Dr. Jochen A. Werner (Ärztlicher Direktor)<br>
        Prof. Dr. Kurt Werner Schmid (Stellvertretender Ärztlicher Direktor)<br>
        Thorsten Kaatze (Kaufmännischer Direktor)<br>
        Andrea Schmidt-Rumposch (Pflegedirektorin)<br>
        Prof. Dr. Jan Buer (Dekan)<br>
    </p>

    <p>
        Verantwortlich für die Inhalte der Internetseite.
    </p>

    <p>
        Zuständige Aufsichtsbehörde:<br>
        Ministerium für Innovation, Wissenschaft, Forschung und Technologie des Landes NRW
    </p>

    <p>
        Zuständige Kammern:<br>
        Ärzte: Landesärztekammer Nordrhein<br>
        Apotheker: Landesapothekerkammer Nordrhein<br>
    </p>

    <p>
        Diese Seiten ersetzen nicht die üblichen Lehrbücher, Kompendien oder Firmenprospekte. Diese sind insbesondere hinsichtlich Dosierungsmodifikationen, Nebenwirkungen, Kontraindikationen, Wechselwirkungen, Komedikationen usw. zu beachten. Diese Zusammenstellung stellt keinerlei eine Bewertung dar. Angegebene Medikamentendosierungen können gerade beim nicht verifizierten Datentransfer über das Internet nur als Information dienen, in keinem Fall aber alleinige Grundlage für die Dosisfindung in der Patientenbehandlung sein.
    </p>


    <p>
        Rechtshinweis
    </p>

    <p>
        Das Universitätsklinikum Essen prüft und aktualisiert die Informationen auf seinen Webseiten ständig. Trotz aller Sorgfalt können sich Daten inzwischen verändert haben. Eine Haftung oder Garantie für Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen kann daher nicht übernommen werden.
        <br>
        Copyright:
        <br>© 2016 Universitätsklinikum Essen
        <br>
        © 2020 Institute for Artificial Intelligence
    </p>

{% endblock %}
